.row-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Board-container{
  /* width: 500px; */
  margin-left: 420px;
  margin-right: 420px;
  align-items: center;
  margin-top: 150px;
}

.turn{
  display: flex;
  justify-content: center;
}